<%= render 'shared/content_title', title: 'Create new post' %>

<%= render 'shared/message', alert: @post %>

<div class="well">
<%= form_for @post do |f| %>
  <fieldset>
    <div class="control-group">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
    <div class="control-group">
      <%= f.label :category %>
      <% @categories.each do |c| %>
    <div>
      <%= collection_check_boxes(:post, :category_ids, Category.all, :id, :name_with_initial) %>
      <%= check_box_tag 'post[category_ids][]', c.id %>
      <%= label_tag :category_ids, c.name ,  :class => 'checkbox inline' %>
    </div>
  <% end %>
    </div>
    <div class="control-group">
      <%= f.label :url %>
      <%= f.text_field :url %>
    </div>
    <div class="control-group">
      <%= f.label :description %>
      <%= f.text_area :description, size: "60x12" %>
    </div>
     <%= f.submit "Save" , :class => 'btn btn-primary ' %>
  </fieldset>
<% end %>

</div>

