<div id="main" role="main">
  <div class="container">
    <div class="row">
      <div class="span12">
        <p>
          <span class="badge">
            <a href="/categories/news">News</a>
          </span>
        </p>
        <%= render 'shared/content_title', title: @post.title %>
          <hr>
        <%= render 'shared/message', alert: @comment %>
        <%= form_for [@post, @comment] do |f| %>
          <fieldset>
          <div class="control-group">
            <div class="field_with_errors">
              <label for="comment_body">Leave a comment</label>
            </div>
            <div class="field_with_errors">
            <%= f.text_area :body %>
            </div>
          </div>
            <%= f.submit "Save" , :class => 'btn btn-primary ' %>
          </fieldset>
        <% end %>
       
        <hr>
        <% if @comments.empty?  %>
          <p>There aren't comments</p>
        <% else %>
          <%= render "comment" %>
        <% end %>
      </div>
    </div>
    <footer>
    </footer>
  </div> <!--! end of .container -->
</div>


  



